<% provide(:title, "Home") %>
 

<% if !user_signed_in? %>
 <div class="center jumbotron">
  <h1>Welcome to my blog!</h1>

<h4>hello</h4> 
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
 </div>	<% else %>
 <h1>
<%= current_user.name %><br><br></h1>
<div class="col-md-8">
	<%=  current_user.microposts.any? %>
	<h3>MICROPOSTS (<%= current_user.microposts.count %>)</h3>
	logged in as
<%= current_user.email %>
</div>
<%= link_to 'My Blog', controller: 'microposts', class: "btn btn-lg btn-primary" %>
 <% end %>


