  <body background="<%= asset_path('shades.jpg') %>">

<%= form_for @micropost do |f| %>

<% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@micropost.errors.count, "error") %> prohibited
        this micropost from being saved:
      </h2>
      <ul>
        <% @micropost.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Description %>
    <%= f.text_area :text, class: 'form-control'  %>
  </div>
   <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control',id:'froala-editor'  %>
  </div>
  
<script>
  $(function() {
    $('#froala-editor').froalaEditor({
      // Set custom buttons with separator between them.
      toolbarButtons: [ 'bold', 'italic', 'underline', 'strikethrough', '|','fontSize','fontFamily','color', 'subscript', 'superscript', 'outdent', 'indent', 'clearFormatting','link', 'insertTable', 'html', '|','undo', 'redo' ],
      toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline'],
       fontFamilySelection: true,
         height: 300,
         // linkAlwaysBlank: true

    })
  });
</script>
  <p>
    <%= f.submit "save", class: 'button2 btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Back', microposts_path %>
