<% if user_signed_in? %>
<% provide(:title, "ALL POSTS ") %>
<% provide(:name, "listing microposts") %>
  
 <center><%= link_to 'New post', new_micropost_path , class: 'btn btn-primary'%></center>
 <br>
  <% @microposts.each do |micropost| %>
  <div id="micropost" class="well">
    <h4><span class="glyphicon glyphicon-user"style="color:black"></span>  <%=  micropost.user.name %></h4> 
   <div id="title">
   <span class="glyphicon glyphicon-list-alt"style="color:black"> 
    <strong><%= link_to micropost.title, micropost_path(micropost) %>:</strong>
   <%= micropost.text %><br></div>
    <div id="timestamp">posted <%= time_ago_in_words(micropost.created_at) %> ago.</div>
  </div>
  <% end %>



<% else %>
log-in page SHOULD BE RENDERED
<% end %>
