<body background="<%= asset_path('background.jpg') %>">
<% provide(:title,  @micropost.title ) %>

<h2 style="font-size:30px;color:white;text-decoration: underline;"><%= @micropost.title%></h2>
<div class="container well" >

<p>
 <h3> <strong>Description:</strong></h3>
  <%= @micropost.text %>
</p>
 <!-- <div class="fr-view"> -->
  <p>
 <h3> <strong>Content:</strong></h3>
  <%= raw @micropost.content %>
</p>
<!-- </div> -->


 
</div>
<div class="well" id='likes'>
<% if Like.find_by_user_id_and_micropost_id(current_user,@micropost).nil? %>
<%= render 'like' %>
<% else %>
<%= render 'unlike' %>
<% end %>
</div>
<div class="btn-group btn-group-justified">
  <%= link_to 'Back', microposts_path , class: "btn btn-primary"%>

  
<% if   current_user.id == @micropost.user_id %>
<%= link_to 'Edit', edit_micropost_path ,class: "btn btn-success"%>
<%= link_to "Delete", @micropost, method: :delete,
                                       data: { confirm: "You sure?" } ,class: "btn btn-danger" %>
<% end -%>
</div>
<div id="fkk"></div>
<script type="text/javascript">

	
</script>
</body>