<body background="<%= asset_path('background.jpg') %>">
<% provide(:title,  @micropost.title ) %>

<h2 style="font-size:30px;color:white;text-decoration: underline;"><%= @micropost.title%></h2>
<div class="container well" >

<p>
 <h3> <strong>Description:</strong></h3>
  <%= @micropost.text %>
</p>
 <!-- <div class="fr-view"> -->
  <p>
 <h3> <strong>Content:</strong></h3>
  <%= raw @micropost.content %>
</p>
<!-- </div> -->


 
</div>
<div class="row">
<div  id='likes' class="col-sm-2">
<% if Like.find_by_user_id_and_micropost_id(current_user,@micropost).nil? %>
<%= render 'like' %>
<% else %>
<%= render 'unlike' %>
<% end %>
</div>
<div class="col-sm-10 ">
  <%= link_to microposts_path , class: "btn btn-lg btn-default" ,style: 'border-radius:20px;' do%>
  	<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Back
  	<% end %>
  
<% if   current_user.id == @micropost.user_id %>
<%= link_to edit_micropost_path ,class: "btn btn-lg btn-success",style: 'border-radius:20px;' do%>
<i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit
  	<% end %>
<%= link_to  @micropost, method: :delete,
                                       data: { confirm: "You sure?" } ,class: "btn btn-lg btn-danger",style: 'border-radius:20px;' do %>
           <i class="fa fa-trash-o" aria-hidden="true"></i>  Delete
  	<% end %>

<% end -%>
</div>
</div>
<div id='comment' class="well">
	<%= render 'comments/create'%>
</div>

</body>